*.kdev4
**/build/
devel/**
c_generated_code_tracking/**
scripts/DistanceFunctions.py
esperimenti
*.bag
frankino_generatedFiles
src/panda_controllers/src/menu_acados_jerk_soft_constr_fase_finale.cpp
src/panda_controllers/src/menu_acados_jerk.cpp
src/panda_controllers/src/menu_acados_ddq.cpp
src/panda_controllers/scripts/ball_marker_publisher.py
src/panda_controllers/scripts/ee_trajectory_visualizer.py
src/panda_controllers/scripts/wall_marker_publisher.py
.venv/
.vscode/
__pycache__/

