<?xml version="1.0" ?>
<launch>

  <!-- Panda namespace -->
  <group ns="panda_arm">
    <arg name="robot_ip" default="192.168.0.210"/>
    <arg name="load_gripper" default="false" />
  
    <include file="$(find franka_control)/launch/franka_control.launch">
      <arg name="robot_ip" value="$(arg robot_ip)" />
      <arg name="load_gripper" value="$(arg load_gripper)"/>
    </include>

    <!-- <rosparam command="load" file="$(find franka_control)/config/default_controllers.yaml" />
    <node name="controller_load" pkg="controller_manager" type="controller_manager" respawn="false" output="screen"  args="load effort_joint_trajectory_controller"/> -->
  
    <!-- <node name="controller_load" pkg="controller_manager" type="controller_manager" respawn="false" output="screen"  args="load computed_torque_controller"/>
    <node name="controller_spawn" pkg="controller_manager" type="controller_manager" respawn="false" output="screen"  args="spawn cartesian_impedance_controller_softbots"/> -->
 
  </group>
</launch>
