<?xml version="1.0" ?>
<!-- Launch command_node -->
<launch>
    <arg name="command_node" default="true" />

    <arg name="package" default="panda_controllers" />
    <arg name="node_name" default="CLIK_node" />

    <include file="$(find panda_controllers)/launch/command.launch" if="$(arg command_node)" />
    <node name="$(arg node_name)" pkg="$(arg package)" type="$(arg node_name)" output="screen"/>
    
</launch>