<?xml version="1.0" ?>
<!-- Launch command_node for backstepping or computed_torque-->
<launch>

    <arg name="package"         default="panda_controllers" />
    
    <!-- set -->
    <arg name="controller_name" default="backstepping_controller" /> <!-- backstepping_controller, computed_torque_controller --> 
    <arg name="command_name"    default="command_cartesian" /> <!-- command_cartesian, command_joints -->

    <!-- flag -->
    <arg name="clik"            default="false" />
    <arg name="flag_node"       default="false" />

    <group ns="$(arg controller_name)">
        <!-- load yaml -->
        <arg name="yaml_file" default="$(find panda_controllers)/config/trajectory_param.yaml" />
        <rosparam command="load" file="$(arg yaml_file)" />
        <!-- load command -->
        <node pkg="$(arg package)"  name="$(arg command_name)" type="$(arg command_name)" output="screen"/>
        <!-- load clik -->
        <node pkg="$(arg package)"  name="CLIK_node" type="CLIK_node" output="screen" if="$(arg clik)"/>
        <!-- load adaptiveFlag -->
        <node pkg="$(arg package)" type="adaptiveFlag_node" name="adaptiveFlag_name" output="screen" if="$(arg flag_node)" />
    </group>

</launch>