<?xml version="1.0" ?>
<!-- Launch command_node for backstepping or computed_torque-->
<launch>

    <arg name="package"         default="panda_controllers" />
    
    <!-- set -->
    <arg name="controller_name" default="CT_mod_controller_OS" /> <!-- backstepping_controller, computed_torque_controller, CT_mod_controller_OS --> 
    <arg name="command_name"    default="command_cartesian" /> <!-- command_cartesian, command_joints, com_joints_sin_node -->

    <!-- flag -->
    <arg name="clik"            default="false" />
    <arg name="flag_node"       default="true" />

    <group ns="$(arg controller_name)">
        <!-- load yaml -->
        <arg name="yaml_file" default="$(find panda_controllers)/config/trajectory_param.yaml" />
        <rosparam command="load" file="$(arg yaml_file)" />
        <!-- load command -->
        <node pkg="$(arg package)"  name="$(arg command_name)" type="$(arg command_name)" output="screen"/>
        <!-- load clik -->
        <node pkg="$(arg package)"  name="CLIK_node" type="CLIK_node" output="screen" if="$(arg clik)"/>
        <!-- load adaptiveFlag -->
        <node pkg="$(arg package)" type="adaptiveFlag_node" name="adaptiveFlag_name" output="screen" if="$(arg flag_node)" />
    </group>


    <!-- rosbag -->
    <arg name="t1"      value="/computed_torque_mod_controller/current_config"/>
    <arg name="t2"      value="/computed_torque_mod_controller/debug"/>
    <arg name="t3"      value="/computed_torque_mod_controller/command_cartesian"/>
    <arg name="t4"      value="/computed_torque_mod_controller/logging"/>
    <arg name="topics"  value="$(arg t1) $(arg t2) $(arg t3) $(arg t4)"/>
   
    <arg name="bag_path"    default="/home/tommy/bagfiles"/>
    <arg name="bag_name"    default="$(arg bag_path)/rosbag_modOS"/>
    <arg name="duration"    default="60"/>
    
    <node pkg="rosbag" type="record" name="bag_recorder" output="screen"  args="--duration=$(arg duration) -O $(arg bag_name) $(arg topics)"/>

</launch>