<?xml version="1.0" ?>
<!-- to use computed_torque_controller on real panda -->
<launch>

  <arg name="robot_ip" default="172.31.1.101"/>
  <arg name="load_gripper" default="false" />

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <!-- load initial guess parameters -->
  <group ns="computed_torque_controller">
    <rosparam command="load" 	file="$(find panda_controllers)/config/inertial/inertial_DH_REG.yaml" />
  </group>

  <!-- load controller parameters -->
  <rosparam command="load" file="$(find panda_controllers)/config/panda_controllers_default.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="computed_torque_controller"/>

</launch>