<?xml version="1.0" ?>
<!-- Launch command_joints_node -->
<launch>
    <!-- uncomment to load directly computed_torque_controller to real panda -->
    <arg name="lab"         value="false"/>
    <arg name="package"     default="panda_controllers" />
    <arg name="yaml_file"   default="$(find panda_controllers)/config/homing.yaml" />
    
    <include file="$(find panda_controllers)/launch/computed_torque_controller.launch" if="$(arg lab)"/>
    
    <group ns="computed_torque_controller">
        <rosparam command="load" file="$(arg yaml_file)" />
        <node name="command_joints_node" pkg="$(arg package)" type="command_joints_node" output="screen"/>
    </group>
    
</launch>