<?xml version="1.0" ?>
<launch>

	<!-- <arg name="robot_ip" default="192.168.0.210" /> -->
	<arg name="arm_id" default="panda" doc="Name of the panda robot to spawn" />

	<rosparam command="load" file="$(find panda_controllers)/config/panda_controllers_default.yaml" />
	<rosparam command="load" file="$(find panda_controllers)/config/panda_inertial_parameters.yaml" />

	<include file="$(find franka_gazebo)/launch/panda.launch">
		<arg name="rviz" value="true" />
		<!-- <arg name="use_gripper" value="false" /> -->
		<!-- <arg name="controller" value="computed_torque_controller" /> -->
		<arg name="controller" value="backstepping_controller" />
	</include>
	
	<!--/group-->

</launch>