<?xml version="1.0" ?>
<!-- Launch file per far partire:
- gazebo (e rviz)
- il controllore desiderato 
- il menu -->
<launch>

	<!-- <arg name="robot_ip" default="192.168.0.210" /> -->
	<arg name="arm_id" 		default="panda" doc="Name of the panda robot to spawn" />
	<arg name="controller" 	value="backstepping_controller" />
	<arg name="use_gripper" value="true" />
	<arg name="rviz" 		value="true" />
	<arg name="menu" 		value="false" />
	
	<arg name="package" default="panda_controllers" />
	<arg name="node_name" default="menu" />
	<arg name="trajectory" default="$(find panda_controllers)/config/panda_trajectory.yaml" />
    
	<rosparam command="load" file="$(find panda_controllers)/config/panda_controllers_default.yaml" />
	<rosparam command="load" file="$(find panda_controllers)/config/panda_inertial_parameters.yaml" />
	<rosparam command="load" file="$(arg trajectory)" />
	
	<include file="$(find panda_controllers)/launch/panda.launch">
		<arg name="rviz_config" value="$(find panda_controllers)/launch/rviz/franka_marker.rviz" />
		<arg name="rviz" value="$(arg rviz)" />
		<arg name="use_gripper" value="$(arg use_gripper)" />
		<arg name="controller" value="$(arg controller)" />
	</include>

	<include file="$(find panda_controllers)/launch/panda_rviz.launch" if="$(arg rviz)" /> <!-- nodo per disegnare su rviz -->
	<include file="$(find panda_controllers)/launch/menu.launch" if="$(arg menu)" />
	
	
</launch>