<?xml version="1.0"?>
<launch>
	<rosparam command="load" 	file="$(find panda_controllers)/config/panda_controllers_default.yaml" />
 
    <!-- trajectory -->
    <arg name="trajectory_node" default="true" />

    <!-- rosbag -->
    <arg name="topics"      default="/backstepping_controller/current_config /backstepping_controller/logging /joint_states /clock /backstepping_controller/command"/>
    <arg name="bag_path"    default="/home/yurs/Documents/MATLAB/Robotica/rosbag/bag"/>
    <arg name="bag_name"    default="$(arg bag_path)/sim"/>
    <arg name="duration"    default="65"/>
    
    <!-- rosbag file name -->
    <arg name="gainLambda"  default="(1.0_0.01)"/>
    <arg name="gainR"       default="0.1"/>
    <arg name="gainKd"      default="10.0"/>
    <arg name="adapt"       default="true"/>
    <arg name="traj_type"   default="liss2"/> <!-- liss0/1/2/3 - circ1/2 - minjerk -->
    <arg name="param_off"   default="p20"/>
    <arg name="gain"        default="$(arg gainLambda)_$(arg gainR)_$(arg gainKd)"/>
    
   
    <node pkg="rosbag" type="record" name="bag_recorder" output="screen" 
        args="--duration=$(arg duration) -O $(arg bag_name)_$(arg traj_type)_$(arg adapt)_$(arg gain)_$(arg param_off) $(arg topics)">
    </node>

    <include file="$(find panda_controllers)/launch/command.launch" if="$(arg trajectory_node)" />

</launch>
